<html ng-app="millBourne">

<head>
    <meta charset="UTF-8">
    <title>Mill Bourne Card Game</title>

    <!------Bootstrap---------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--------Our Style-------->
    <link rel="stylesheet" href="assets/styles/style.css">

</head>

<body ng-controller="MainController as mc" class="container-fluid">
    <!--//start of next play splash screen//-->
    <div class="alert alert-danger" ng-if="effectError">{{effectError.error}}</div>
    <div class="nextPlayer" ng-show="readyNext">
        <div class="text-center">
            <a ng-click="startTurn()"><h1 class="ready" >Are you Ready to go the distance {{nextPlayer.name}}?</h1>
            <img src="assets/img/ready.png"  alt="hot chick" align="middle"></a>
        </div>
    </div>
    <!--end splash-->
    <button ng-click="playCard()" ng-if="mc.activeCard && mc.currentTarget">Play {{mc.activeCard.title}} for {{mc.currentTarget.name}}</button>
    total Cards: {{deck.length}}


    <div class="row">
        <div class="panel panel-default col-sm-4" ng-drop="" ng-click="mc.currentTarget = player" ng-repeat="player in players" ng-if="player !== activePlayer">
            <div class="panel-heading">
                <h3>{{player.name}}</h3>
                <p class="player">Traveled: {{player.distance}} km</p>
            </div>
            <div class="panel-body">
                <div class="playmat">
                    <div class="cards">
                        <div class="card-container">
                            <div ng-repeat="safetyCard in player.table.safties">
                                <img ng-src="{{safetyCard.img}}" alt="{{safetyCard.title}}" height="90">
                            </div>
                        </div>
                        <div class="card-container">
                            <div ng-repeat="hazardCard in player.table.hazards">
                                <img ng-src="{{hazardCard.img}}" alt="{{hazardCard.title}}" height="90">
                            </div>
                        </div>
                        <div class="card-container">
                            <div ng-repeat="limitCard in player.table.limits">
                                <img ng-src="{{limitCard.img}}" alt="{{limitCard.title}}" height="90">
                            </div>
                        </div>
                        <div class="card-container">
                            <div ng-repeat="driveCard in player.table.drive">
                                <img ng-src="{{driveCard.img}}" alt="{{driveCard.title}}" height="90">
                            </div>
                        </div>
                        <div class="card-container">
                            <div ng-repeat="miles in player.table.miles">
                                <div ng-repeat="mileCard in miles">
                                    <img ng-src="{{mileCard.img}}" alt="{{mileCard.title}}" height="90">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        DECK HERE
        <a class="trash" ng-click='discard(mc.activeCard)'>
            <img src="assets/img/trashcan.png" alt="trash can">
        </a>
    </div>

    <div class="row">
        ACTIVE PLAYER TABLE HERE
    </div>
    
    <div class="row">
        <div class="background player col-xs-2 text-right" ng-click="mc.currentTarget = activePlayer">
            <p class="player">{{activePlayer.name}}</p>
            <p class="player">Has Traveled: {{activePlayer.distance}} km</p>
            <p class="player">Stopped: {{activePlayer.isStopped}}</p>
            <p class="player">Immunities: {{activePlayer.immunities}}</p>
            <p class="player">Limit: {{activePlayer.limit}}</p>
            <p class="player">Hazard Condition:{{activePlayer.hazards}}</p>
        </div>
        <div class="list-inline col-sm-10" ng-drag>
            <div class="list-group-item card" ng-class="{active:mc.activeCard === card}" ng-repeat="card in activePlayer.hand" ng-click="mc.activeCard = card">
                <img ng-src="{{card.img}}" alt="{{card.title}}" height="200">
            </div>
        </div>
    </div>
    <!--JQuery-->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!--Bootstrap-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>

    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>

    <!--Our Scripts-->
    <script src="app/app.js"></script>
    <script src="app/components/main-controller.js"></script>

</body>

</html>